.number-input {
    width: 100%;

    &__label {
        width: 100%;
        font-weight: 400;
        font-size: 30px;
        line-height: normal;
        color: var(--color-text-header);
        margin-bottom: 7px;
        display: block;

        &-required {
            color: var(--color-danger);
        }
    }

    &__help {
        font-weight: 600;
        width: 100%;
        font-size: 18px;
        margin-top: 4px;
        color: var(--color-text-default);

        &--warning {
            background-color: var(--color-text-white);
            color: var(--color-danger);
            border-radius: 3px;
        }
    }
}
