.button {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    transition: 0.3s;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    line-height: normal;
    height: 60px;
    position: relative;
    border: 1px solid transparent;

    &:focus {
        border: none;
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    &--size {
        &-default {
            padding: 17px 13px 17px 17px;
            font-weight: 400;
            font-size: 24px;
            text-transform: uppercase;
            gap: 6px;

            svg {
                $size: 16px;

                width: $size;
                height: $size;
            }
        }

        &-large {
            padding: 16px 77px 15px 76px;
            font-weight: 700;
            font-size: 24px;
            gap: 6px;

            svg {
                $size: 16px;

                width: $size;
                height: $size;
            }
        }
    }

    &--view {
        &-default {
            border: 1px solid var(--color-text-white);
            background: transparent;
            color: var(--color-text-header);

            &:hover {
                background: var(--color-background-button-hover);
                border: 1px solid var(--color-background-button-hover);
                color: var(--color-text-button-hover);
            }

            &:focus {
                background: var(--color-text-white);
                border: 1px solid var(--color-text-white);
                color: var(--color-text-button-hover);
            }
        }

        &-primary {
            border-color: var(--color-primary);
            background: var(--color-primary);
            color: var(--color-background-dark);
            border-radius: 5px;

            &:hover {
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            }

            &:focus {
                background: var( --color-background-default);
                color: var(--color-primary);
            }
        }

        &-danger {
            color: #fff;
            background: #f56c6c;

            &.button--plain {
                background: #fef0f0;
                border: 1px solid #fbc4c4;
                color: #f56c6c;
            }

            &:hover {
                background: #f78989;

                &.button--plain {
                    background: #f56c6c;
                    border: 1px solid #f56c6c;
                    color: #fff;
                }
            }

            &:focus {
                background: #dd6161;

                &.button--plain {
                    background: #dd6161;
                    border: 1px solid #dd6161;
                    color: #fff;
                }
            }

            &:disabled {
                background: #fab6b6;

                &.button--plain {
                    background: #fef0f0;
                    border: 1px solid #fde2e2;
                    color: #f9a7a7;
                }
            }
        }

        &-link {
            border-radius: 4px;
            background: none;
            text-decoration: none;
            border: none;
            justify-content: center;

            &.button--active,
            &:hover {
                color: var(--color-primary);
            }

            &:hover {
                background: #f8fbff;
            }
        }
    }

    &__badge {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: var(--color-white);
        font-size: 10px;
        line-height: 10px;
        font-weight: 700;
        position: absolute;
        top: -8px;
        right: -8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & > svg {
        flex-shrink: 0;
    }
}
