.link {
    color: var(--color-text-white);
    text-decoration: none;

    &:not(:has(button)):hover {
        text-decoration: underline;
    }

    // :has() CSS relational pseudo-class Not supported by default in Firefox
    @-moz-document url-prefix() {
        &:hover {
            text-decoration: underline;

            button {
                text-decoration: none;
            }
        }
    }
}
