.autocomplete-input {
    position: relative;

    &__suggestions-container {
        position: absolute;
        background-color: white;
        border-radius: 4px;
        border: 1px solid var(--color-button-border-default);
        box-shadow: 0 2px 12px rgb(0 0 0 / 10%);
        left: 0;
        right: 0;
        margin-top: 4px;
        padding: 4px 0;
        z-index: 1;
        max-height: 300px;
        overflow-y: auto;
    }

    &__suggestion {
        padding: 8px 20px;
        font-size: 14px;
        color: var(--color-button-text-default);
        cursor: pointer;

        &:hover {
            background-color: var(--color-input-background-disabled);
        }
    }
}
