.transit-time-block {
    display: grid;
    gap: 46px;
    padding: 22px 0 0 0;

    &__row {
        display: grid;
        gap: 19px;
    }

    &__label-left,
    &__label-right {
        color: var(--color-text-header);
        font-size: 24px;
    }

    &__label-right {
        justify-self: end; 
    }
}
