.carriage-map {
    position: relative;
    width: 100%;
    height: auto;
    display: block;

    img {
        width: 100%;
        height: auto;
    }

    &__area {
        position: absolute;
        cursor: pointer;
        background-color: var(--color-text-header);
        color: var(--color-background-dark);
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        line-height: inherit;
        border: 1px solid var(--color-text-header);

        &--available {
            cursor: not-allowed;
            background-color: var(--color-background-grey-selected);
            color: var(--color-text-white);
        }

        &--active {
            border: 1px solid var(--color-primary);
        }
    }

    .area-carriage-number {
        background-color: var(--color-background-dark);
        color: var(--color-text-white);
        cursor:default;
    }
}
