.react-datepicker__tab-loop {
    position: absolute;
    bottom: 0;
}

.react-datepicker-wrapper {
    width: 100%;
}

.datepicker {
    box-shadow: 0 4px 32px rgb(0 0 0 / 6%);
    border-radius: 16px;
    border: none;
    font-family: 'Roboto', sans-serif;

    &::before {
        content: '';
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid white;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--color-text-default);
        margin-bottom: 10px;
    }

    &__current-date {
        display: flex;
        gap: 6px;
        line-height: 20px;
    }

    &__current-month {
        font-weight: 600;
        font-size: 24px;
    }

    &__navigation {
        padding: 0;

        &:hover {
            background: transparent;
        }
    }

    .react-datepicker__input-container input {
        font-size: 18px;
        border: 1px solid transparent;

        &::placeholder {
            font-size: 18px;
        }
    }

    .react-datepicker__header {
        border: none;
        background-color: transparent;
        margin: 16px 16px 6px;
        padding: 0;
    }

    .react-datepicker__month {
        margin: 0 16px 16px;
    }

    .react-datepicker__day-names {
        .react-datepicker__day-name {
            color: var(--color-table-text-default);
        }
    }

    .react-datepicker__week-day {
        display: none;
    }

    .react-datepicker__day-name {
        display: none;
    }

    .react-datepicker__day {
        color: var(--color-text-default);
        font-weight: 600;
        font-size: 16px;

        &:hover {
            border-radius: 50%;
        }

        &.react-datepicker__day--keyboard-selected {
            background: none;
        }

        &.react-datepicker__day--selected {
            border-radius: 5px;
            border: 2px solid var(--color-primary);
            background-color: var(--color-background-selected);
            color: var(--color-text-disabled);
        }

        &.react-datepicker__day--today:not(.react-datepicker__day--selected) {
            color: var(--color-primary);
        }

        &.react-datepicker__day--outside-month {
            color: var(--color-text-disabled);
        }
    }
}
