.icon-button {
    border-radius: 4px;
    border: none;

    &:hover {
        background: transparent;
        color: var(--color-primary);

        & > svg path, & > svg circle {
            fill: var(--color-primary);
            stroke: var(--color-text-default);
        }
    }

    &:not(:hover) {
        background: transparent;
        color: var(--color-text-default);
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    &--size {
        &-default {
            padding: 0px;

            & > svg {
                $size: 24px;

                width: $size;
                height: $size;
            }
        }

        &-mini {
            padding: 4px;

            & > svg {
                $size: 16px;

                width: $size;
                height: $size;
            }
        }

        &-midi {
            padding: 0px;

            & > svg {
                $size: 30px;

                width: $size;
                height: $size;
            }
        }

        &-large {
            padding: 0px;
            background: transparent;
            & > svg {
                $size: 36px;

                width: $size;
                height: $size;
            }
        }
    }
}
