.icon-button {
    border-radius: 4px;
    border: none;
    padding: 0;
    text-align: center;

    &:not(:disabled) {
        cursor: pointer;
    }

    &--view {
        &-default {
            &:hover {
                background: transparent;
                color: var(--color-primary);

                & > svg path,
                & > svg circle {
                    fill: var(--color-primary);
                    stroke: var(--color-text-white);
                }

                & > svg line {
                    stroke: var(--color-primary);
                }

                .icon-button__label {
                    color: var(--color-primary);
                }
            }

            &:not(:hover) {
                background: transparent;
                color: var(--color-text-default);
            }
        }

        &-primary {
            background: transparent;

            &:hover {
                & > svg {
                    transform: scale(1.2);
                }

                & > svg circle {
                    stroke: transparent;
                }
                
                & > svg line {
                    stroke: var(--color-primary);
                }
            }
        }
    }

    &--size {
        &-default {
            & > svg {
                $size: 24px;

                width: $size;
                height: $size;
            }
        }

        &-mini {
            padding: 4px;

            & > svg {
                $size: 16px;

                width: $size;
                height: $size;
            }
        }

        &-midi {
            & > svg {
                $size: 30px;

                width: $size;
                height: $size;
            }
        }

        &-large {
            background: transparent;

            & > svg {
                $size: 36px;

                width: $size;
                height: $size;
            }
        }

        &-max {
            background: transparent;

            & > svg {
                $size: 56px;

                width: $size;
                height: $size;
            }
        }
    }

    &__label {
        padding-top: 20px;
        color: var(--color-text-disabled);
        font-size: 24px;
    }
}
