.trains-list {
    display: flex;
    flex-direction: column;
    gap: 47px;
    padding-bottom: 142px;

    &__items {
        display: grid;
        gap: 47px;
    }

    &__sort {
        display: flex;
        justify-content: space-between;
        color: var(--color-text-disabled);
        font-size: 18px;
    }
}