.travel-datepicker {
    display: flex;
    gap: 130px;
    padding-top: 253px;
    padding: 253px calc(10% + 100px) 0 calc(10% + 175px);

    &__title p {
        color: var(--color-text-white);
        font-size: 72px;
        font-weight: 100;
    }

    &__title p:last-child {
        font-weight: 700;
    }
}
