.radio-button {
    display: flex;
    align-items: center;

    &__control {
        appearance: none;
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    &__label-container {
        display: flex;
        flex-direction: column;
        position: relative;
        cursor: pointer;
    }

    &__label,
    &__description {
        font-size: 18px;
        color: var(--color-text-disabled);
    }

    &__description {
        font-weight: 400;
    }

    &--view {
        &-default {
            .radio-button__label {
                font-weight: 400;
            }

            .radio-button__control:hover + .radio-button__label-container .radio-button__label,
            .radio-button__label-container:hover .radio-button__label {
                color: var(--color-primary);
            }

            .radio-button__control:focus + .radio-button__label-container .radio-button__label,
            .radio-button__control:checked + .radio-button__label-container .radio-button__label {
                color: var(--color-background-dark);
            }
        }

        &-primary {
            justify-content: center;

            .radio-button__label-container {
                width: 100%;
            }

            .radio-button__label {
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 900;
                text-transform: uppercase;
                font-size: 30px;
                color: var(--color-text-default);
            }

            .radio-button__control:hover + .radio-button__label-container .radio-button__label,
            .radio-button__label-container:hover .radio-button__label {
                background-color: var(--color-background-switch);
            }

            .radio-button__control:focus + .radio-button__label-container .radio-button__label,
            .radio-button__control:checked + .radio-button__label-container .radio-button__label {
                background-color: var(--color-primary);
            }
        }
    }
}
