.switch-input {
    cursor: pointer;
    margin: 0;
    display: grid;
    grid-template-columns: 20px 23fr 10fr;
    align-items: center;
    gap: 33px;
    user-select: none;

    &__warning {
        width: 100%;
        margin-top: 4px;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: var(--color-danger);
    }

    &__control {
        display: inline-block;
        background: var(--color-text-white);
        border-radius: 16px;
        width: 72px;
        height: 24px;
        position: relative;
        vertical-align: middle;
        transition: background 0.25s;
        flex-shrink: 0;

        &::before,
        &::after {
            content: '';
        }

        &::before {
            $size: 30px;

            width: $size;
            height: $size;
            display: block;
            background: var(--color-text--label-disabled);
            border-radius: 50%;
            position: absolute;
            top: -3px;
            left: 0px;
            transition: left 0.25s;
        }
    }

    input[type='checkbox'] {
        position: absolute;
        visibility: hidden;
        margin: 0;

        &:not(:disabled):checked + span + span {
            background: var(--color-background-switch);
        }

        &:disabled:checked + span + span {
            background: var(--color-background-switch);
        }

        &:checked + span + span::before {
            left: 46px;
            background: var(--color-primary);
        }
    }
    
    &__label {
        color: var(--color-text-white);
        font-size: 18px;
    }
}
