.travel-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    grid-row-gap: 69px;
    grid-column-gap: 34px;
    background: rgba(41, 41, 41, 0.8);
    padding: 79px 21px 52px 21px;

    &__from-wrapper {
        position: relative;
    }

    &__submit {
        grid-column-start: 2;
    }

    &__swap-icon {
        position: absolute;
        top: calc(50% + (7px + 36px) / 2);
        right: -29px;
        transform: translateY(-50%);

        svg {
            fill: var(--color-text-white);
        }

        svg:hover {
            fill: var(--color-primary);
        }
    }

    &--row {
        grid-template-columns: repeat(4, 1fr);
        gap: 35px;
        padding: 80px 44px 180px 41px;

       button {
            grid-column-start:4;
        }
    
    }
}
