.tickets-header {
    background: url('../../../../public/image/header-tickets-page-background.png'), linear-gradient(to top, rgba(89, 55, 3, 0.8), rgba(69, 40, 1, 0.9)),
        var(--color-background-dark);

    &__form-wrapper {
        padding: 111px calc(10% + 30px) 0 calc(10% + 60px);
    }

    &__steps {
        display: grid;
        grid-template-columns: 3fr 2fr 2fr 3fr;
        background-color: var(--color-background-form);
    }

    &__step {
        $height: 99px;
        $witch: 38px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 28px;
        min-height: $height;

        h3 {
            text-transform: none;
            color: var(--color-text-white);
        }

        span {
            width: 56px;
            height: 56px;
            text-align: center;
            padding-top: 5px;
            border: 3px solid var(--color-text-white);
            border-radius: 50%;
            font-size: 36px;
            font-weight: 700;
            color: var(--color-text-white);
        }

        svg {
            position: absolute;
            right:-37px;
            height: $height;
            width: $witch;
            z-index: 1;
        }
    }

    .current-step {
        background-color: var(--color-primary);

        svg {
            fill: var(--color-primary);
        }
    }
}
