:root {
    --color-border-default: #dcdfe6;
    --color-background-default: #f7f5f9;
    --color-text-default: #000;
    --color-success: #B2F6A1;
    --color-danger: rgba(255, 61, 0, 0.38);;
    --color-primary: #FFA800;
}
