:root {
    --color-border-default: #dcdfe6;
    --color-background-default: #f7f5f9;
    --color-background-dark: #292929;
    --color-text-header: #E5E5E5;
    --color-text-default: #000;
    --color-text-white: #FFF;
    --color-success: #B2F6A1;
    --color-danger: rgba(255, 61, 0, 0.38);;
    --color-primary: #FFA800;
    --color-input-border-hover: #c0c4cc;
    --color-button-text-default: #606266;
    --color-input-background-disabled: #f5f7fa;
    --color-text-button-hover: #2D2B2F;
    --color-background-button-hover: #FFCA62;
}
