:root {
    --color-border-default: #dcdfe6;
    --color-background-default: #f7f5f9;
    --color-background-dark: #292929;
    --color-text-header: #e5e5e5;
    --color-text-default: #000;
    --color-text-white: #fff;
    --color-text-disabled: #928f94;
    --color-text--label-disabled: #c4c4c4;
    --color-text-weight: #3e3c41;
    --color-success: #b2f6a1;
    --color-danger: rgba(255, 61, 0, 0.38);
    --color-primary: #ffa800;
    --color-input-border-hover: #c0c4cc;
    --color-button-text-default: #606266;
    --color-input-background-disabled: #f5f7fa;
    --color-text-button-hover: #2d2b2f;
    --color-background-button-hover: #ffca62;
    --color-background-selected: rgba(255, 168, 0, 0.31);
    --color-background-options: #f5f4f6;
    --color-background-paper: #e4e0e9;
    --color-background-form: #3e3c41;
    --color-background-switch: #fcdc9d;
    --color-background-light-grey: #f7f6f6;
    --color-background-light-yellow: #ffd98f;
    --color-background-grey: #f3f3f3;
    --color-background-grey-selected: #d9d9d9;
    --color-background-modal: #fbfbfb;
}
